.Container{
    width: 100%;
    height: auto;
    /* background-image: url("../../assests/Prize on Way Page Full.png"); */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.Container img{
    width: 100%;
    object-fit: contain;
}
@media(max-width:1745px){
    .Container{
        height: auto;
    }
    
}

