.Container{
    width: 100%;
    /* height: 100vh; */
    background-image: url('../../assests/Shipping Page BG.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.Cart{
    width: 68rem;
    overflow-y: scroll;
    background-color: #2c2d2c;
    height: 100%;
    margin: 0 auto;
    padding: 20px;
    padding: 50px 0;

}
.Cart::-webkit-scrollbar{
    display: none;
}
.Title{
    width: 30%;
    margin: 0 auto;
    border-radius: 30px;
    border:1px solid #fff;
}
.Title p{
    font-family: drumshake_italic;
    font-size: 6rem;
    color: #fff;
    text-align: center;
}
.Carts{
    display: flex;
    flex-direction: column;
    margin: 10px 0px;
    padding: 40px;
    padding-top: 0;
    height: 50vh;
    overflow: scroll;
    border-bottom: 1.5px solid #fff;
    overflow-x: hidden;
    overflow-y: scroll;
}
.Carts::-webkit-scrollbar{
    display: none;
}
.CartItem{
    margin: 10px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.Game{
    width: 65%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
.Actions{
    width: 30%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
.replay img,.share img{
    width: 4rem;
}
.image{
    width: 45%;
}
.name{
    width: 75%;
    margin-left: 3rem;
}
.image img{
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
}
.name p{
    font-size: 2rem;
    color: #fff;
    font-weight: 600;
}
.Shipping{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 40px;
    padding-top: 0;
}
.PrimeShipping{
    margin: 20px 0px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.shippingIcon{
    width: 60%;
}
.shippingIcon img{
    width: 100%;
}
.selection{
    width: 20%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}
.selection .price p{
    color: #fff;
    font-weight: 500;
    font-size: 2.5rem;
} 
.Circle,.CircleActive{
    margin-left: 1.5rem;
    width: 4rem;
    height: 4rem;
    border:.3rem solid #fff;
    border-radius: 50%;
    background-color: lightgray;
}
.Shipping .CircleActive{
    margin-left: 1.5rem;
}
.CircleActive{
    background-color: #75f85f;
}
.FreeShipping .selection .CircleActive{
    margin-left: 0;
}
.FreeShipping{
    margin: 20px 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.shippingIcon p{
    font-size: 2.5rem;
    font-weight: 500;
    color: #fff;
    text-align: center;
}
.Price p{
    text-align: center;
    font-size: 2.5rem;
    color: #fff;
    font-weight: 500;
}
.FreeShipping .selection{
    width: 32.5%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.ticket{
    width: 5rem;
    /* height: 30rem; */
}
.ticket img{
    width: 100%;
}
.FreeShipping .selection .Circle{
    margin-left: 0;
}
.Checkout{
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Checkout button{
    width: 40%;
    margin: 0 auto;
    border-radius: 30px;
    border:1px solid #fff;
    background-color: #3b82f6;
    font-family: drumshake_italic;
    font-size: 6rem;
    color: #fff;
    padding: 15px 20px;
    text-align: center;
}
@media(max-width:599px){
    .Cart{
        width: 100%;
        padding: 10px;
    }
    .Carts{
        padding: 10px;
    }
}
@media(max-width:765px){
    .Title p{
        font-size: 3.5rem;
    }
    .Checkout button{
        font-size: 3.5rem;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .name p{
        font-size: 1.5rem;
    }
    .replay img,.share img{
        width: 2.75rem;
    }
    .shippingIcon{
        width: 50%;
    }
    .selection .price p{
        font-size: 1.5rem;
    }
    .shippingIcon p{
        font-size: 1.5rem;
    }
    .selection{
        width: 25%;
    }
    .FreeShipping .selection{
        width: 37%;
    }
    .ticket{
        width: 3rem;
    }
    .CircleActive,.Circle{
        width: 3rem;
        height: 3rem;
    }
}
.Popup{
    position: absolute;
    top: 0%;
    border-radius:40px;
    width: 20%;
    background-color: #000;
    /* height: 100%; */
    outline:10px solid #949393;
    border:7.5px solid #3b82f6;
    overflow: hidden;
    z-index: 99;
    left: 50%;
    transform: translate(-50%,50%);
}
.playerButton{
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 999;
    transform: translate(-50%,-50%);
}
.playerButton img{
    width: 20%;
}
video{
    width: 100%;
    object-fit: cover;
    height: 100%;
    /* border-radius: 40px; */
}
.popup{
    position: absolute;
    z-index: 9999;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: #1b8fe7;
    border: 1rem solid #949393;
    border-radius: 20px;
    padding:2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: fit-content;
    /* width: 15%; */
}.popupImage{
    width: 40%;
    position: absolute;
    top: 0;
    transform: translateY(-50%);
}
.popupImage img{
    width: 100%;
    object-fit: contain;
}
.popupText{
    margin-top: 15%;
}
.popupText p{
    font-size: 2rem;
    text-align: center;
    color: #fff;
    width: 300px;
    font-weight: 500;
    /* word-wrap: break-word; */
    line-height: 25px;

}
.popupButton button{
    margin: 1.5rem;
    padding: 1rem 7.5rem;
    background-color: transparent;
    border:3px solid #fff;
    outline:none;
    color: #fff;
    font-size: 2rem;
    font-weight: 600;
    border-radius: 30px;
}
.ReportPopupButton{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}
.ReportPopupButton button{
    margin: 1.5rem;
    padding: 1rem 7.5rem;
    background-color: transparent;
    border:3px solid #fff;
    outline:none;
    color: #fff;
    font-size: 2rem;
    font-weight: 600;
    border-radius: 30px;
}
.popupInput textarea{
    width: 95%;
    padding:2rem 2rem;
    border-radius: 30px;
    color: #1b8fe7;

    outline:none;
    margin: 1rem;
}
.Address{
    width: 68rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.Address form{
    background-color: #fff;
    padding: 20px;
    border-radius:20px;
    width: 75%;
    display: flex;
    flex-direction: column;

}
.Address form input{
    font-family: "Poppins";
    width: 100%;
    font-size: 3rem;
    background-color: #fff;
    height: 7.5rem;
    /* height: 5.68rem; */
    padding: 1.13rem 2.26rem;
    text-align: left;
    border-radius: 1.13rem;
    margin: 1.13rem 0;
    border:.25rem solid #333333c1;
}
.Address form h1{
    text-align: left;
    font-weight: 500;
    color: #333333c1;
    text-align: left;
    margin-right: auto;
}
.Address form {
    align-items: center;
}
.Address form button{
    width: 75%;
    border-radius: 50px;
    background-color: #3b82f6;
    border: none;
    outline:none;
    height: 7.5rem;
    font-size: 3rem;
    font-weight: 600;
    color: #fff;
    margin-top: 2rem;
}