.dNone{
    display: none;
}
.Container{
    width: 100%;
    /* height: 100vh; */
    /* height: 100%; */
    margin-left: auto;
    background-color: #2d2d2d;
    margin-right: auto;
}
.Faq{
    width: 68rem;
    /* width: 40%; */
    padding: 25px 0;
    height: 100%;
    background-color: #f9e763;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-y: scroll;

}
.FaqBtn{
    width: auto;
    border-radius: 50px;
    padding: 6px 30px;
    border:2px solid #2d2d2d;
    font-family: drumshake_italic;
    font-size: 7rem;
    background-color: transparent;
    outline:none;
    margin-left: auto;
    margin-right: auto;
    margin: 25px;

}
.AllFaqSection{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;
    width: 100%;
    
}
.FaqSection{
    width: 80%;
    margin: 15px;
   
}
.FaqCategory{
    width: 100%;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
}
.FaqCategory svg{
    font-size: 5rem;
    -webkit-text-stroke: 1px #fff;
}
.FaqCategory button{
    font-family: drumshake_italic;
    text-align: center;
    width: 100%;
    font-size: 10rem;
    -webkit-text-stroke: 2px #fff;

    margin-left: auto;
    margin-right: auto;
    background-color: transparent;
    border:none;
    outline:none;
    
}
.SingleFaqs{
    background-color: #fff;
    border-radius: 25px;
    border:4px solid #2d2d2d;
    padding:10px;
    margin: 15px 0px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
}
.SingleFaqs p{
    font-family: drumshake_italic;
    font-size: 3.2rem;
    line-height: initial;
    height: 35px;
    align-items: center;
    display: flex;
}
.FaqQuestion button{
    background-color: transparent;
    border:none;
    outline:none;
    font-family: drumshake_italic;
    font-size: 3.2rem;
    text-align: left;
}
.FaqQuestion svg{
    font-size: 4rem;
}
.FaqQuestion{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.FaqAnswer{
    margin-top: 10px;
}
.FaqAnswer p{
    font-size: 1.75rem;
    font-weight: 500;
    line-height: 20px;
    font-family: Poppins;
    height: 100%;
}
.QuestionAndAnswer{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
@media(max-width:599px){
    .Faq{
        width: 100%;
    }
    .FaqCategory button{
        font-size: 5rem;
    }
}
@media(max-width:767px){
    .FaqSection{
        width: 90%;
    }
    .FaqCategory button{
        -webkit-text-stroke: 1.5px #fff;
    }
    .FaqAnswer p{
        font-size: 1.25rem;
    }
    .SingleFaqs{
        border-width: 3px;
    }
    .FaqQuestion button{
        font-size: 2.75rem;
    }
}