.Container{
    width: 100%;
    height: 100vh;
    background-color: #2d2d2d;
}
.Profile{
    width: 68rem;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    background-color: #3b82f6;

}
.ProfileContent{
    width: 100%;
    height: 35%;
    padding: 20px 0;
}
.FullDetails{
    width: 100%;
    height: 65%;
    position: relative;
}
.myDetails,.Shipping{
    width: 50%;
    height: 100%;
}
.myDetails{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 15px 35px;
    height: 100%;
}
.Username,.Birthday,.EmailAddress,.Password,.Subscription,.Phone,.Address{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.InputSection,.title{
    width: 50%;
}
.InputSection input{
    width: 100%;
    background-color: transparent;
    border:none;
    border-bottom: 1.5px solid #000;
    padding: 10px 0;
    font-size: 2.5rem;
    font-weight: 500;
    color: #fff;
    /* overflow-x:scroll; */
}
.title p{
    font-size: 2.5rem;
    font-weight: 500;
    color: #fff;
}
.ProfileImage{
    width: 50%;
    height: 100%;
}
.ProfileContent{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* height: 100%; */
}
.ProfileImage img{
    border-radius: 50%;
    object-fit: contain;
    width: 100%;
    height: 100%;
}
.ProfileAction{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.TabSection{
    height: 90%;
    position: absolute;
    z-index: 9999;
    bottom: 0;
}
.TabBtns{
    width: 100%;
    position: absolute;
    height: 100%;
    overflow: hidden;
}
.TabBtns img{
    /* z-index: 999; */
    width: 100%;
    position: absolute;
    /* height: 100%;
    object-fit: cover; */
}
.TabBtnActiveImg{
    z-index: 99;
}
.TabBtb{
    z-index: 999;
}
.TabBtb{
    width: 50%;
    height: 10rem;
    color: #fff;
    background-color: transparent;
    border:none;
    /* border-top:8px solid gray; */
    border-top:8px solid #333;
    border-radius: 25px;
    font-size: 8rem;
    font-family: drumshake_italic;
    
}
.ProfileBtn{
    width: 40%;
    border:1px solid #fff;
    font-family: drumshake_italic;
    height: 4.5rem;
    font-size: 3.75rem;
    border-radius: 20px;
    background-color: transparent;
    color: #fff;
}
.history,.Faq,.Deactivate{
    width: 80%;
    border:1px solid #fff;
    font-family: drumshake_italic;
    height: 4.5rem;
    font-size: 3.75rem;
    border-radius: 7px;
}
.history{
    background-color: #e60000;
    color: #fff;
}
.Faq{
    background-color: #f9e763;
    color: #2d2d2d;
}
.Deactivate{
    background-color: transparent;
    color: #fff;
}
.TabBtnActive{
    
    font-family: drumshake_italic;
    width: 50%;
    height: 10rem;
    color: #fff;
    background-color: #bebebe;
    color: #fff;
    -webkit-text-stroke: 1px #000;
    font-size:8rem;
    /* border:none; */
    border:8px solid #2d2d2d;
    border-radius: 25px;
}
.Shipping{
    width: 100%;
    height: 100%;
    padding: 15px 35px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.Phone,.Address{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
}
.Address .InputSection input{
    padding: 10px 0px;
    outline: none;
}
.InputSection input{
    outline: none;
}
.Phone{
    align-items: center;
}
.Shipping > div .InputSection input{
    border:none;
}
.Shipping .Phone .InputSection input{
    color: #000;
    font-weight: 500;
    font-family: Poppins;
    border-bottom:2px solid #000;
}
.Address .title{
    padding: 25px 5px;
}
.myDetails .Password .InputSection input{
    border-bottom: none;
}
.myDetails .Password .InputSection{
    border-bottom :2px solid #000;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items:center;
}
.myDetails .Password .InputSection img{
    width: 7.5%;
    /* -webkit-text-stroke: 2px #fff; */
}
.myDetails .Subscription .InputSection img{
    width: 20%;
}
.myDetails .Subscription .InputSection{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #000;
}
.myDetails .Subscription .InputSection input{
    border-bottom: none;
}
.Shipping .Phone .InputSection img{
    width: 7.5%;
}
.Shipping .Phone .InputSection input{
    border-bottom: none;

}
.Shipping .Phone .InputSection
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #000;
}
@media(max-width:599px){
    .Profile{
        width: 100%;
    }
    .ProfileImage{
        padding: 1rem;
    }
    .TabBtnActive,.TabBtb{
        font-size: 4rem;
        height: 7rem;
        border-width: 4px;
    }
    .ProfileBtn,.history,.Faq,.Deactivate{
        font-size: 2.5rem;
    }
    .title p{
        font-size: 1.75rem;
    }
    .InputSection input{
        font-size: 1.75rem;
    }
}