.Container{
    width: 100%;
    /* height: 90vh; */
    height: 90vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-image: url("../../assests/Login BG.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    align-items: center;
}
.Login{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.Left{
    width:  auto;
    height: 100%;
}
.Left img{
    width: 100%;
    height: 100%;
}
.Right{
    /* width: 0%; */
    /* height: 100%; */
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70%;
    /* height: 100%; */
}
.EmailInput,.PasswordInput{
    width: 100%;
}
.TitleDiv{
    width: 70%;
    border-bottom: 0.22rem solid lightgray;
    margin-bottom: 5.68rem;
}
.ForgotPassword{
    text-align: center;
    color: rgb(201, 0, 0);
    font-size: 1.56rem;
    font-weight: 600;
    margin-bottom: 3.97rem;
    
}
.Title{
    font-size: 3rem;
    margin: 1.70rem;
    text-align: center;
    font-weight: 600;
    
}
.Btns,.Btns a{
    width: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}
.Btns a{
    width: 100%;
}
.LoginBtn,.RegisterBtn{
    font-family: "Poppins";
    width: 60%;
    text-align: center;
    font-size: 2.02rem;
    height: 6.81rem;
    border-radius: 5.68rem;
    margin:1.13rem 0;
    background-color: #1589e1;
    color: #fff;
    border:0.56rem solid #fff;
    cursor: pointer;
    font-weight: 500;
}
/* .Right a{
    width: 100%;
} */
.RegisterBtn{
    /* width: 40%; */
    background-color: #939393;
    color: #fff;
}
.EmailInput label,.PasswordInput label{
    font-size: 1.5rem;
    font-weight: 600;
    text-align: left;
}
.email{
    font-family: "Poppins";
    width: 100%;
    font-size: 1.7rem;
    background-color: #fff;
    height: 5.68rem;
    padding: 1.13rem 2.26rem;
    text-align: left;
    border-radius: 1.13rem;
    margin: 1.13rem 0;
    border:0.22rem solid lightgray;
}
.loginError{
    text-align: left;
    margin-right: auto;
    font-size: 2.02rem;
    color: red;
    font-weight: 600;
}
@media(max-width:767px){
    .Left{
        display: none;
    }
    .Right{
        height: 100%;
        width: 100%;
    }
    .TitleDiv{
        /* margin-bottom: 2.84rem; */
    }
    .Title{
        /* font-size: 2.84rem; */
    }
    .email{
        /* height: 5.11rem;
        font-size: 1.70rem;
        margin-top: 0; */
    }
    .EmailInput label,.PasswordInput label{
        /* font-size: 1.36rem; */
    }
    .ForgotPassword{
        /* font-size: 1.36rem;
        margin-bottom: 1.70rem; */
    }
    .LoginBtn,.RegisterBtn{
        /* height: 5.11rem;
        font-size: 1.70rem; 
        margin: 0.56rem; */
    }
}
@media(min-width:767px) and (max-width:1056px){
    .Left{
        display: none;
    }
    .Right{
        width: 100%;
        height: 100%;
    }
}