.Container{
    width: 100%;
    height: 100vh;
    overflow-y: scroll;
    margin-left: auto;
    margin-right: auto;
    background-color: #ff8100;
    position: relative;
}
.Container::-webkit-scrollbar{
    display: none;
}
.Categories{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-content: center;
    margin-left: auto;
    margin-right: auto;
    background-color: #fff;
    /* border-top: 7px solid #ab2b29; */
}
.category,.active{
    padding: .75rem 3rem;
    cursor: pointer;
    font-family: "Poppins";
    background-color: #fff;
    border-radius: 2.26rem;
    font-size: 2rem;
    border:none;
    outline:none;
    font-weight: 600;
    white-space: nowrap;

}
.active{
    /* background: rgb(27,143,231);
    background: linear-gradient(90deg, rgba(27,143,231,1) 0%, rgba(19,192,236,1) 50%, rgba(32,122,224,1) 100%); */
    color: #0a82fc;
}
/* .category.active{
    background-color: lightskyblue;
} */
.Games{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
}
.Games a {
    position: relative;
    overflow-y: hidden;
    overflow-x: hidden;
    width: 18%;
    /* box-shadow: inset -5px -5px 15px rgba(255, 255, 255, 0.5), 
           inset 10px 10px 15px rgba(70, 70, 70, 0.12); */
           /* box-shadow: 
    -10px -10px 15px rgba(70, 70, 70, 0.2),
    10px 10px 15px rgba(70, 70, 70, 0.12); */
    box-shadow: 
  -10px -10px 15px rgba(255, 255, 255, 0),
  2px 2px 15px #ff8100,
  inset -.2px -.2px 15px rgba(0, 0, 0, .25),
  inset .2px .2px 15px rgba(00, 0, 00, .25);
    margin: 1.13rem;
    background-color: #fff;
    padding: 1.13rem;
    border-radius: 2.26rem;
    /* box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.4), 0px 7px 13px -3px rgba(0, 0, 0, 0.3), inset -3px -3px 0px rgba(0, 0, 0, 0.2); */
}
.Label{
    /* border-bottom: 4.54rem solid #af000f; */
    position: absolute;
    /* text-align: center; */
    /* transform: rotate(-40deg); */
    /* left: -11.7%; */
    /* top: 5.3%; */
    z-index: 999;
    /* border-left: 3.75rem solid transparent;
    border-right: 5.56rem solid transparent; */
    /*height: 0; */
    width: 35%;
}
.Label img{
    width: 100%;
}
.PriceDiv{
    margin-top: 1.13rem;
    width: 70%;
    height: auto;
    height: 5.68rem;
    display: flex;
    margin: 0px auto;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    /* justify-content: space-evenly; */
}
.ticketIcon{
    width: fit-content;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.ticketIcon a,.infoIcon a{
    position: sticky;
    background-color: transparent;
    overflow: unset;
    margin: 0;
    width: inherit;
    border-radius: 0;
    padding: 0;
    box-shadow: none;
}
.Details{
    margin-top: 0.56rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 85%;
    margin: 0.56rem auto;
    margin-bottom: 0;
}
.Name{
    font-size: 1.75rem;
    font-weight: 600;
    margin: 0;
    text-align: center;

}
.icon{
    width: 100%;
    height: 100%;
}

.Label p,.LabelFree p{
    font-family: "Poppins";
    font-weight: 900;
    font-size: 2rem;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,40%);
    font-style: italic;
    -webkit-text-stroke-width: 0.11rem ;
    -webkit-text-stroke-color: #fff;
    /* position: absolute; */
}
.LabelFree{
    border-bottom: 4.54rem solid #57b736;
    position: absolute;
    text-align: center;
    transform: rotate(-40deg);
    left: -11.7%;
    top: 5.3%;
    border-left: 3.75rem solid transparent;
    border-right: 5.56rem solid transparent;
    height: 0;
    width: 65%;
    }
.free,.Price{
    font-family: "Poppins";
    font-weight: 900;
    font-size: 2.5rem;
    font-style: italic;
    margin: 0px auto;;
}
.infoIcon{
    width: 4rem;
}
.info{
    width: 100%;
    height: 100%;
}
.Image{
    width: 100%;
    height: 50%;
}
.Image img{
    width: 100%;
    border-top-right-radius: 2.26rem;
    border-top-left-radius: 2.26rem;
}
/* .categoryActive{
    background-color: #af000f !important;
    color: #fff;
} */
.popupOverlay{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
}
.Popup {
    /* position: relative;
    overflow-y: hidden;
    overflow-x: hidden;
    width: 18%; */
    /* box-shadow: inset -5px -5px 15px rgba(255, 255, 255, 0.5), 
           inset 10px 10px 15px rgba(70, 70, 70, 0.12); */
           /* box-shadow: 
    -10px -10px 15px rgba(70, 70, 70, 0.2),
    10px 10px 15px rgba(70, 70, 70, 0.12); */
    /* box-shadow: 
  -10px -10px 15px rgba(255, 255, 255, 0),
  2px 2px 15px #ff8100,
  inset -.2px -.2px 15px rgba(0, 0, 0, .25),
  inset .2px .2px 15px rgba(00, 0, 00, .25);
    margin: 1.13rem;
    background-color: #fff;
    padding: 1.13rem;
    border-radius: 2.26rem; */
    /* box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.4), 0px 7px 13px -3px rgba(0, 0, 0, 0.3), inset -3px -3px 0px rgba(0, 0, 0, 0.2); */
}
.Popup{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    overflow-y: hidden;
    overflow-x: hidden;
    padding:10px;
    /* width: 100%; */
    /* padding:0px 10px; */
    background-color: #fff;
    /* width; */
    width: 18%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    box-shadow: inset -5px -5px 15px rgba(255, 255, 255, 0.5), 
    inset 10px 10px 15px rgba(70, 70, 70, 0.12);
    box-shadow: 
    -10px -10px 15px rgba(70, 70, 70, 0.2),
    10px 10px 15px rgba(70, 70, 70, 0.12);
   
    border-radius: 2.26rem;
    z-index: 99999; 
}
.PopupSection{
   width: 100%;
    height: 100vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.PopupOverlay{
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /* background-color: #00000014; */
}

.popupImage{
    width: 100%;
    border-top-left-radius: 2.26rem;
    border-top-right-radius: 2.26rem;
    overflow: hidden;
}.popupImage img{
    width: 100%;
   
    /* height: 50; */
    object-fit: cover;
}
.popupTitle{
    text-align: center;
    font-size: 2rem;
    font-weight: 600;
    margin: 1rem;
}
.popupDescription{
    text-align: center;
    font-size: 1.5rem;
    font-weight: 500;
    margin: 1rem;
}
.popupPlayNow{
    border-radius: 2.8rem;
    display: flex;
    width: 80%;
    flex-direction: row;
    justify-content: space-evenly;
    /* width: 100%; */
    background-color: #0a82fc;
    padding: .5rem 1.5rem;
    align-items: center;
}
.popupPlayNow p{
    font-family: drumshake_italic;
    font-size: 4rem;
    color: #fff;

    -webkit-text-stroke: 1px #000;
}
.popupTicket{
    width: 30%;
    padding: .5rem;
}
.popupTicket img{
    width: 100%;
    object-fit: cover;
}
@media (max-width:1065px){
    .Popup{
        width: 35%;
    }
}
@media(max-width:767px){
    
    .PriceDiv,.infoIcon a,.DetailTitle{
        display: flex;
        flex-direction: row;
        justify-content: center;
        /* width: 100%; */
        /* height: 100%; */
        align-items: center;
    }
    .Categories{
        /* flex-wrap: wrap; */
        overflow-x: scroll;
        justify-content: flex-start;
    }
    .category,.active{
        font-size: 1.36rem;
        width: fit-content;
        padding: .56rem 1.70rem;
    }
    ::-webkit-scrollbar{
        display: none;
    }
    .Games a{
        width:42%;
        /* height: 100%; */
        /* padding: 5px; */
        /* border-radius: 10px; */
    }
    .Image img{
        /* border-top-right-radius: 10px; */
        /* border-top-left-radius: 10px; */
    }
    .category,.active{
        text-align: center;
        white-space: nowrap;
        width: fit-content;
    }
    
    .LabelFree p,.Label p{
        /* font-size: 18px;
        margin-top: 5px; */
        transform: translate(-70%,40%);
        text-align: center;
    }
    .Name{
        /* font-size: 13px; */
        font-size: 1.25rem;
    }
    
    .Price{
        font-size: 2rem;
    }
    .LabelFree,.Label{
        /* left: -20%;
        top: 0;
        width: 100%;
        text-align: center; */
    }
    .ticketIcon a,.infoIcon a{
        width: 100%;
    }
    .ticketIcon{
        width: 5rem;
    }
    .infoIcon{
        width: 3rem;
    }
    .PriceDiv{
        width: 100%;
    }
    .free{
        font-size: 1.75rem;
    }
    .Popup{
        width: 75%;
    }
}
@media(min-width:767px) and (max-width:1056px){
    .Games a{
        width:25%;
    }
    .Categories{
        /* flex-wrap: wrap; */
        overflow-x: scroll;
        justify-content: center;
    }
}
.Search{
    width: 30%;
    display: flex;
    align-items: center;
    border-radius: 20px;
    padding: 5px 15px;
    background-color: #e1f5fb;
    border: 2px solid #efeef1;



}
.SearchIcon,.EmptySearch{
    width: 7.5%;
}
.SearchIcon img,.EmptySearch img{
    width: 100%;
    max-width: 100%;
    object-fit: contain;
}
.EmptySearch img{
    width: 80%;
}
.Search input{
    background-color: transparent;
    width: 100%;
    height: 100%;
    outline: none;
    border:none;
    color: #2d2d2d;
    font-size: 2.25rem;
    padding: 0px 10px;
    font-weight: 500;
}
.CategoriesSection{
    width: 92.5%;
    display: flex;
    flex-direction: row;
    padding: 1.13rem;

    justify-content: space-between;
}
.popupOverlay{
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    background-color: #fff;
    padding: 20px;
    z-index: 9999;

}
.ticketIconDiv{
    width: 40%;
}
.ticketIcon{
    justify-content: flex-start;
}
.free,.Price{
    margin: 0 5px;
}