.Container{
    width: 100%;
    height: 100%;
    position: relative;
}
.Transition,.About,.Watch,.Support{
    width: 100%;
    height: 100vh;
}
.About{
    margin-top: -20rem;
}
.Transition div{
    /* height: 100%; */
}
.Support{
    background-image: url("../../assests/Support City Background.png");
    background-size: cover;
    
}
.ContactSection{
    width: 40%;
    color: #fff;
    font-size: 4rem;
    font-weight: 600;
    
}
.SupportContent{
    width: 80%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}
.Image{
    width: 100%;
    height: 100%;
    position: relative;
}
.Contact{
    width: 100%;
}
.Contact img{
    width: 100%;
    height: 100%;
}
.LeftIcons,.RightIcons,.WLeftIcons,.WRightIcons{
    position: absolute;
    top:50%;
    transform: translateY(0%);
    z-index: 99;
}
.Slider{
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 9;
}
.Slider img{
    width: 100%;
    height: auto;
    /* object-fit: ; */
}
.LeftIcons,.WLeftIcons{
    left: 0;
}
.RightIcons,.WRightIcons{
    right: 0;
}
.RightIcons span,.LeftIcons span{
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 1.5rem;
    height: 10rem;
    background-color: red;
    border-radius:20px;
    border:0.3rem solid #fff;

    /* vertical-align: middle; */
    margin: auto;
    
}
.RightIcons span svg,.LeftIcons span svg{
    font-size: 4rem;
    color:#fff;
}
.WRightIcons button,.WLeftIcons button{
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 1.5rem;
    height: 10rem;
    background-color: transparent;
    border-radius:20px;
    border:none;
    outline:none;
    /* border:0.3rem solid #fff; */

    /* vertical-align: middle; */
    margin: auto;
    
}
.WRightIcons button svg,.WLeftIcons button svg{
    font-size: 4rem;
    color:#fff;
}
.Slidernav{
    width: 100%;
    height: auto;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    /* transform: translateY(100%); */
    z-index: 999;
    display: flex;
    flex-direction: row;
    justify-content: center;

}
.CircleNav .Active{
    width: 3.5rem;
    height: 3.5rem;
    margin: 5px;
    /* font-size: 100px; */
    border-radius: 50%;
    background-color: red;
    border:3px solid #fff;
}
.CircleNav .NonActive{
    width: 3.5rem;
    height: 3.5rem;
    margin: 5px;
    /* font-size: 100px; */
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.200);
    border:3px solid #fff;
}
.Transition{
    position: relative;
}
.Crane{
    position: absolute;
    top: 0;
    left:50%;
    transform: translate(-50%);
}
.Watch img{
    width: 100%;
}
.Ticket{
    position: -webkit-fixed;
    position: fixed;
    z-index: 999;
    top: 10vh;
    right: 0;
    min-width: 15rem;
    max-width: 30rem;
    height: 10rem;
    background-color: red;
    border:1rem solid lightgray;
    border-radius: 3.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    
    
}
.TicketIcon{
    width: 40%;
    /* overflow: auto; */
}
.TicketText{
    /* overflow: auto; */
    width: 50%;
    color: white;
    margin: 0px;
    font-family: drumshake_italic;
    font-size: 4.5rem;
    line-height: 30px;
    /* margin-left: 90px; */
    text-align: left;
}
.ContactSection p{
    /* text-align: left; */
    font-family: drumshake_italic;
    font-size: 15rem;
    margin: 0;
    text-align: center;
}
.ContactSection .StrokeContact{
    color:#000;
    font-size: 7rem;
    /* -webkit-text-stroke: 1px; */
    -webkit-text-stroke-color: #fff;
    -webkit-text-stroke-width: .05rem;

}
.WLeftIcons .Disable svg,.WRightIcons .Disable svg{
    color: lightgray;
    cursor: not-allowed;
}
@media(max-width:1065px){
    .Transition,.About,.Watch,.Support{
        height: auto;
    }
    .Ticket{
        max-width: 20rem;
        min-width: 7rem;
        border-radius: 2.5rem;
    }
    .TicketText{
        font-size: 3rem;
        line-height: 20px;
    }
    .SupportContent{
        justify-content: center;
    }
    .ContactSection{
        width: 75%;
    }
    .CircleNav .Active,.CircleNav .NonActive{
        width: 1.5rem;
        height: 1.5rem;
        border:2px solid #fff
    }
}
@media(max-width:767px){
    .Ticket{
        max-width: 15rem;
        min-width: 7rem;
        height: 7rem;

    }
    .TicketText{
        font-size: 2rem;
    }
    .ContactSection p{
        font-size: 7rem;
    }
    .ContactSection .StrokeContact{
        font-size: 3.25rem;
    }
    .RightIcons span,.LeftIcons span{
        height: 5rem;
        border-radius: 10px;

    }
    .RightIcons span svg,.LeftIcons span svg{
        font-size: 2rem;
    }
    .WRightIcons button svg,.WLeftIcons button svg{
        font-size: 2rem;
    }
    .LeftIcons,.RightIcons,.WLeftIcons,.WRightIcons{
        transform: translateY(-50%);
    }
}