.Container {
    width: 100%;
    background: linear-gradient(180deg, rgba(27, 143, 231, 1) 0%, rgba(19, 192, 236, 1) 50%, rgba(32, 122, 224, 1) 100%);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* position: relative; */
}

.Overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    background-color: #000;
    width: 100%;
    height: 100%;
    opacity: 0.4;
    z-index: 9;
}

.Description {
    z-index: 99;
    border-top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    padding: 20px
    
}

.GamePlay {
    width: 100%;
    position: relative;
    height: 50vh;
    border-radius: 50px;
   overflow: hidden;

}

.MobileControls {
    display: block;
    z-index: 999;
    padding: 10px;
    width: 100%;
    padding-bottom: 2rem;
}

.Screen {
    width: 100%;
    height: 100%;
}

.Screen img,
.Screen iframe,
.Screen video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.sideIcon img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.sideIcon {
    position: absolute;
    right: 0;
}
.NowPlaying {
    z-index: 9;
    width: 30.66rem;
    height: 30.66rem;
    position: fixed;
    top: 0;
    right: 2.5rem;
    background-color: #e50000;
    color: #fff;
    padding: 1.70rem;
    border-bottom-left-radius: 3.40rem;
    border-bottom-right-radius: 3.40rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease-in-out;

}

.hideVideo {
    display: none;
}

.showVideo {
    display: block;
}

.minimized {
    z-index: 9;
    width: 30.66rem;
    position: fixed;
    top: 0;
    right: 2.5rem;
    background-color: #e50000;
    color: #fff;
    padding: 1.70rem;
    border-bottom-left-radius: 3.40rem;
    border-bottom-right-radius: 3.40rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease-in-out;
}

.head {
    font-size: 2.25rem;
    font-style: italic;
    font-weight: 900;
    color: #fff;
    text-align: center;
    margin-bottom: 1.13rem;

}

.Image {
    width: 100%;
}

.Image img {
    width: 100%;
    border-radius: 3.40rem;
    border: 0.56rem solid #fff;
}

.title {
    text-align: center;
    font-weight: 500;
    color: #fff;
    font-size: 2rem
}

.minimized .arrow {
    top: 85%;
}

.arrow {
    position: absolute;
    top: 95%;
    background-color: #e50000;
    border-radius: 50%;
    width: 4.54rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4.54rem;
}

.arrowIcon {
    font-size: 3.40rem;
    cursor: pointer;
}

.Report {
    position: absolute;
    bottom: 0;
    padding-right: 2.84rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    right: 0;
}

.ReportIcon {
    font-size: 4.5rem;
    color: #e50000;
    padding: 0.56rem;
}

.Report p {
    font-size: 1.5rem;
    text-align: center;
}

.icons {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.Magnify {
    width: 100%;
    position: relative;
    z-index: 99;

}

.Magnify span {
    position: absolute;
    left: 0;
    top: 10%;
    background-color: #e50000;
    border-radius: 50%;
    z-index: 9;
    color: #fff;
    font-weight: 500;
    width: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2rem;
    font-size: 1.5rem;

}


.life span {
    position: absolute;
    right: 95%;
    top: 25%;
    background-color: #e50000;
    border-radius: 50%;
    z-index: 9;
    color: #fff;
    font-weight: 500;
    width: 2rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
}
.life span,
.Magnify span {
    display: flex;
    justify-content: center;
    align-items: center;
   
    padding: 0;
}

.Magnify img {
    width: 40%;
}

.life {
    position: relative;
    width: 100%;
    z-index: 99;
}

.lifeIcons {
    width: 30%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.userIcons1 {
    width: 30%;
    height: 100%;
}

.userIcons2 {
    width: 28%;
    height: 100%;
}

.userIcons3 {
    width: 26%;
    height: 100%;
}

.Start {
    width: 100%;
    margin-top: 5.68rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}
.play {
    position: relative;
    z-index: 99;
    outline: 0.33rem solid #000;
    border: 1.70rem solid #b7471c;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}



.ActionBtn {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}



.Restart,
.Start,
.CameraDiv {
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.Start,
.CameraDiv {
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.Start .Play img {
    width: 100%;
}

.Start {
    margin-top: 0;
    justify-content: space-between;
    margin-top: 5rem;
}
.icons {
    width: 30%;
    position: absolute;
    top: 5%;
    left: 5%;
    display: flex;
    flex-direction: column-reverse;
}
.life span {
    position: absolute;
    top: 0;
    right: 86%;
}
.Report {
    position: absolute;
    bottom: 0;
    right: 0;
}
.CameraDiv {
    display: flex;
    flex-direction: column-reverse;
    width: 25%;
    
}

.ReportDiv {
    display: flex;
    justify-content: center;
    align-items: center;
}

.ReportDiv img {
    width: 30%;
}

.Restart {
    width: 25%;
    margin-bottom: 20%;
    align-items: flex-start;
}

.Restart img {
    width: 75%;
    object-fit: contain;
}


.userDiv img {
    width: 100%;
}

.AngleChanger {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.AngleChanger img {
    width: 70%;
}

@keyframes slide {
    from {
        margin-left: 0%;
    }

    to {
        margin-left: calc(100% - var(--w, 150px));
    }
}



.Play button {
    background-color: transparent;
    border: none;
    outline: none;
}

.OtherGames {
    width: 30%;
    padding: 50px;
}

.AllGames {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding-top: 0;
}

.SingleGame {
    width: 100%;
    background-color: #fff;
    padding: 4px;
    border-radius: 15px;
    margin: 10px
}

.ProductImage {
    width: 100%;
}

.ProductImage img {
    width: 100%;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
}

.ProductContent {
    width: 100%;
    padding: 0px 10px;
    margin: 10px 0;
    margin-bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.PriceSection {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.TicketIcon {
    width: 30%;
}

.InfoIcon {
    width: 25%;
}

.InfoIcon img,
.TicketIcon img {
    width: 100%;
}

.ProductPrice p {
    font-size: 3rem;
    font-weight: 500;
    font-family: drumshake_italic;
}

.ProductTitle p {
    font-size: 1.05rem;
    text-align: center;
    font-weight: 600;
}

.gameSection {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    align-items: center;
}

.leftSide {
    width: 20%;
    height: 100%;
}

.OtherBtn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 0;
}

.OtherBtn button {
    font-family: drumshake_italic;
    font-size: 6rem;
    background-color: #fd8204;
    color: #fff;
    padding: 10px 0;
    width: 100%;
    border-radius: 20px;
    border: 2px solid #fff;
    outline: none;

}

.OtherTitle {
    width: 100%;

}

.OtherTitle p {
    text-align: center;
    font-family: drumshake_italic;
    font-size: 5rem;
    color: #fff;
}

.Play .Points{
    position: absolute;
    top: 0;
    left: 50%;
    z-index: 0;
    transform: translate(-50%,-50%);
    width: 10rem;
    /* height: 15rem; */
}
.Play .Points p{
    position: absolute;
    z-index: 999;
    top: 50%;
    left: 50%;
    color: #fff;
    font-weight: 500;
    font-size: 3.5rem;
    font-family: drumshake_italic;
    transform: translate(-50%,-50%);
}
.Play .Points img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.Play button{
    position: relative;
    z-index: 99;
}
.GameAnchor{
    width: 40%;
}
.OtherBtn a{
    width: 100%;
}
@media(max-width:1025px) {
    .GamePlay{
        height: 50vh;
    }
    .Container{
        height: auto;
    }
    .Description{
        flex-direction: column-reverse;
    }
    .gameSection {
        width: 100%;
        /* flex-direction: column; */
    }
    .OtherGames{
        width: 100%;
        padding: 10px;
        margin-top: 3rem;
    }

    .leftSide {
        display: none;
    }
    .Restart,
    .CameraDiv,
    .Start {
        width: 33%;
    }
    .Restart{
        margin-bottom: 20%;
    }

    .NowPlaying {
        top: auto;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        border-top-left-radius: 3.40rem;
        border-top-right-radius: 3.40rem;
        z-index: 9999;
        bottom: 0;
        left: 0;
        
    }

    .head {
        position: relative;
        z-index: 9;
        
    }

    

    .arrow {
        top: auto;
        bottom: 93%;
        z-index: 1;
    }

    .minimized .head {
        margin-bottom: 0;
        display: none;
    }

    .arrow {
        transform: rotate(180deg);
    }

    .minimized {
        z-index: 9999;
        top: auto;
        bottom: 0;
        left: 0;
        padding: 0.8rem;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        border-top-left-radius: 3.40rem;
        border-top-right-radius: 3.40rem;
    }

    .minimized .arrow {
        bottom: 70%;
        top: auto;
    }
    .GamePlay{
        border-radius: 60px;
    }
}
@media(max-width:767px){
    .Container{
        height: auto;
    }
    .GamePlay{
        height: 100%;
    }
    .GamePlay{
        border-radius: 30px;
    }
    .OtherBtn button{
        font-size: 3rem;
    }
    .OtherTitle p{
        font-size: 3.5rem;
    }
    .Play .Points{
        width: 6rem;
    }
    .Start{
        margin-top: 0rem;
    }
    .Play .Points p{
        font-size: 2.5rem;
    }.Restart{
        margin-bottom: 20%;
    }
}
@media(min-width:1065px){
    .Container{
        position: relative;
    }
    
    .NowPlaying{
        position: absolute;
    }
    .minimized{
        position: absolute;
    }
}
.hide,.hideCamera{
    display: none;
}
.show,.ShowCamera{
    display: flex;
}
.AngleChanger button{
    background-color: transparent;
    border: none;
    outline: none;
}
.Restart{
    flex-direction: column;
}