.Container{
    width: 100%;
    background: linear-gradient(180deg, rgba(27, 143, 231, 1) 0%, rgba(19, 192, 236, 1) 50%, rgba(32, 122, 224, 1) 100%);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.Section{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    min-height: 100vh;
}

.hideVideo{
    display: none;
}
.video{
    display: flex;
    width: 100%;
    position: relative;
    height: 50vh;
    border-radius: 50px;
   overflow: hidden;
}
.Controls{
    margin-top: 5%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}
.GameScreen{
    width: 40%;
    height: 100%;
    padding-top: 5rem;
}
.GameScreen .Screen{
    width: 100%;
    height: auto;
}
.GameScreen .Screen .video {
    width: 100%;
    height: auto;
}
.Screen{
    position: relative;
    min-height: 50vh;
}
.Icons{
    position: absolute;
    z-index: 9999;
    top:2%;
    left:2%
}
.spectator,.queStatus{
    margin: 1rem;
    position: relative;
}
.spectator{
    margin-top: 2rem;
}
.spectator span,.queStatus span{
    background-color: #e50000;
   padding:0px 5px;
   border-radius: 50%;
   color: #fff;
   font-weight: 600;
   font-size: 2rem;
   position: absolute;
   left: 0;
   top:50%;
   transform: translate(-40%,-100%);
}
.Camera,.PrizeReset,.LastWin{
    width: 65%;
    margin: 0 auto;
}
.Camera button,.PrizeReset button,.LastWin button{
    width: 100%;
}
.Camera button img,.PrizeReset button img,.LastWin button img{
    width: 100%;
}
.PlayImage button{
    width: 100%;
}
.PlayImage button img{
    width: 100%;
}
.video,.video >div{
    width: 100%;
    height: auto;
}
button{
    background-color: transparent;
    outline: none;
    border: none;
}
.Controls > div{
    width: 30%;
}
.Controls .Guide{
    width: 100%;
    height: auto;
}
.Controls .Guide img{
    width: 100%;
    object-fit: contain;
}
.LastWin {
    margin: 0 auto;
    width: 65%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.Report{
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Report button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}
.Report button img{
    width: 75%;
}
.ExtraGames{
    width: 20%;
}
.LeftSide{
    width: 20%;
}
.ExtraButton button{
    font-family: drumshake_italic;
    font-size: 6rem;
    background-color: #fd8204;
    color: #fff;
    padding: 10px 0;
    width: 100%;
    border-radius: 20px;
    border: 2px solid #fff;
    outline: none;
}
.Description p{
    text-align: center;
    font-family: drumshake_italic;
    font-size: 5rem;
    margin-top: 2.5rem;
    margin-bottom: 1rem;
    color: #fff;
}
.AllGames{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    max-height: 75vh;
    overflow: scroll;
}
.AllGames::-webkit-scrollbar{
    display: none;
}
button{
    cursor: pointer;
}
a{
    cursor: pointer;
}
.AllGames a{ 
    width: 42%;
    pointer-events: none;
    box-shadow: 
  -10px -10px 15px rgba(255, 255, 255, 0),
  .2px .2px 15px #00000019,
  inset -.2px -.2px 15px rgba(0, 0, 0, .25),
  inset .2px .2px 15px rgba(00, 0, 00, .25);
    margin: 1.13rem;
    background-color: #fff;
    padding: 1.13rem;
    border-radius: 2.26rem;
}
.TicketPrice{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items: center;
}
.Ticket{
    width: 20%;
}
.Ticket img{
    width: 100%;
}
.GameName p{
    font-size: 1.375rem;
    text-align: center;
    margin: 1rem 0;
    margin-bottom: 0;
    font-weight: 600;
}
.Price p{
    font-family: drumshake_italic;
    font-size: 4rem;
    margin: 0 1rem;
}
.info {
    width: 15%;
}
.info img{
    width: 100%;
}
.Image img{
    width: 100%;
    border-top-right-radius: 2.26rem;
    border-top-left-radius: 2.26rem;
}
video{
    width: 100%;
    height: 100%;
}
.video img,
.video iframe,
.video video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.popup{
    position: absolute;
    z-index: 9999;
    top: 50%;
    left: 50%;
    width: fit-content;
    transform: translate(-50%,-50%);
    background-color: #1b8fe7;
    border: 1rem solid #949393;
    border-radius: 20px;
    padding:2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 15%;
}.popupImage{
    width: 40%;
    position: absolute;
    top: 0;
    transform: translateY(-50%);
}
.popupImage img{
    width: 100%;
    object-fit: contain;
}
.popupText{
    margin-top: 15%;
}
.popupText p{
    font-size: 2rem;
    text-align: center;
    color: #fff;
    font-weight: 500;

}
.popupButton button{
    margin: 1.5rem;
    padding: 1rem 7.5rem;
    background-color: transparent;
    border:3px solid #fff;
    outline:none;
    color: #fff;
    font-size: 2rem;
    font-weight: 600;
    border-radius: 30px;
}
.LeftSide{
    position: sticky;
    top: 0;
    height: 100vh;

}
.NowPlaying{
    /* width: 90%; */
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    right:2.5%;
    display: flex;
    background-color: #e50000;
    padding: 2rem 3rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
}
.NowPlayingTitle p{
    font-family: drumshake_italic;
    font-size: 5rem;
    color: #fff;
}
.CurrentImage{
    width: 100%;
    height: 75%;
    object-fit: cover;
}
.CurrentImage{
    border-radius: 50px;
    border:5px solid #fff;
    overflow: hidden;
}
.CurrentImage img{
    width: 100%;
}
.CurrentTitle{
    position: relative;
    z-index: 99;
}
.CurrentTitle p{
    font-size: 2.5rem;
    color: #fff;
    margin-top: 1rem;
    font-weight: 500;
    text-align: center;
}
.CloseIcon{
    z-index: 9;
    position: absolute;
    bottom: 0;
    padding: 1.5rem;
    border-radius: 50%;
    background-color: #e50000;
    left:50%;
    transform: translate(-50%,50%);
}
.CloseIcon svg{
    color: #fff;
    font-size: 4rem;
}
.LastWinPopup{
    position: absolute;
    top: 50%;
    z-index: 9999;
    left: 50%;
    transform: translate(-50%,-50%);

}
.PlayIcon{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 99;

}
.VideoSection{
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
}.PlayIcon button img{
    width: 20%;
}.PlayImage{
    position: relative;
}
.PlayImage button{
    position: relative;
    z-index: 99;
}
.GameScore{
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%,-50%);
}
.GameScore img{
    width: 100%;
    z-index: 9;
}
.GameScore span{
    position: absolute;
    top: 50%;
    font-size: 6rem;
    font-family: drumshake_italic;
    color: #fff;
    left: 50%;
    transform: translate(-50%,-50%);
}
.VideoSection video{
    border-radius: 30px;
    border:7px solid #949393;
    /* outline: 14x solid #1b8fe7; */
}