.Container{
    width: 100%;
    /* height: 90vh; */
    /* height: 100vh; */
    height: 100%;
    padding: 5rem 11.5rem;
    background: url("../../assests/Login BG.png");
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
}
.Popup{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    /* width: 250px;
    height: 500px; */
    background-color: #3b82f6;
    padding: 25px 10px;
    
    border-radius:15px;
    border:7px solid #949393;
}
.PopupText{
    color: #fff;
    font-size: 18px;
    text-align: center;
    margin-top: 15%;
}
.image{
    width: 50%;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%,-50%);

}
.image img{
    width: 100%;
}
.Actions{
    display: flex;
    width: 100%;
    margin-top: 10px;
    justify-content: space-between;
}
.Contents{
    width: 80%;
    margin: auto;
}
.accept,.Contents .Terms{
    width: 45%;
}
.Actions button{
    font-size: 16px;
    text-align: center;
    width: 100%;
    /* width: 100%; */
    color: #fff;
    background-color: transparent;
    border-radius:30px;
    padding: 10px 20px;
    border:1px solid #fff;
}
.Register{
    width: 56rem;
}
.Title{
    font-size: 4rem;
    margin-bottom: 1.7rem;
    text-align: center;
    color: #fff;
    font-style: italic;
    font-weight: 800;
}
.form{
    padding: 2.35rem;
    border-radius: 1.7rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
}
.input::-webkit-input-placeholder{
    text-align: center;
    text-transform: uppercase;
    font-family: "Poppins";
    /* color: #333333d1; */

}
.input::-webkit-keygen-select{

    display: none;
}
.password{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-family: "Poppins";
    width: 100%;
    font-size: 2.1rem;
    /* height: 1rem; */
    padding: 1.1rem 2.32rem;
    text-align: left;
    border-radius: 1.13rem;
    margin: 1.13rem 0;
    border:.3rem solid gray;
}
.password .input{
    border: none;
    padding: 0;
    height: 100%;
    outline: none;
    margin: 0;
    
}
.input{
    font-family: "Poppins";
    width: 100%;
    font-size: 3.5rem;
    height:7.5rem;
    padding: 1.13rem 2.26rem;
    text-align: left;
    border-radius: 1.13rem;
    margin: 1.13rem 0;
    border:0.3rem solid gray;
    color: #333



}
.Terms{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items: center;
}

.Terms input[type="checkbox"] {
    width: 1.70rem;
    height: 1.70rem;
  }

.Terms p{
    width: 65%;
    margin-left: 2.26rem;
    font-size: 2rem;
    color: #3b82f6;
    font-weight: 600;
}
.Terms p a{
    font-size: 2rem;
    color: #3b82f6;
    font-weight: 600;
}
.formBtn,.btnDisabled{
    /* font-family: "Poppins";
    width: 50%;
    font-size: 2.5rem;
    margin-top: 1.13rem;
    height: 5.68rem;
    padding: 1.13rem;
    text-align: center;
    border-radius: 1.13rem;
    margin: 1.13rem 0;
    color: #fff;
    border:none;
    background-color: #489ae6;
    cursor: pointer; */
    font-family: "Poppins";
    width: 50%;
    font-size: 3rem;
    margin-top: 1.13rem;
    height: 7rem;
    padding: 1.13rem;
    text-align: center;
    border-radius: 4rem;
    margin: 1.13rem 0;
    color: #fff;
    border: none;
    text-transform: uppercase;
    background-color: #3b82f6;
    cursor: pointer;
}
.btnDisabled{
    background-color: lightgray;
    cursor: not-allowed;
}
.checkUser,.CheckPassword{
    text-align: left;
    width: 100%;
}
.userAvail{
    font-size: 1.81rem;
    color: green;
    font-weight:800;

}
.userInvaild,.passInvalid{
    text-align: left;
    font-size:1.81rem;
    color:maroon;
    font-weight:800;
}
.userInvaild{
    text-align: center;
}
.DataInput{
    width: 100%;
    font-family: "Poppins";
    height: 7.5rem;
    padding: 1.13rem;
    font-size: 3.5rem;
    text-transform: uppercase;
    margin: 1.13rem;
    margin-left: 0;
    border-radius: 1.13rem;
    margin-right: auto;
    border:0.3rem solid gray;
    text-align: center;
    color: #3333;
}
.AgeRestrict{
    color: red;
    font-size: 1.81rem;
    margin: 2.84rem 0px;
    margin-right: auto;
    margin-top: 0;
}
label{
    text-align: left;
    font-size: 2rem;
    color: #333333d1;
    font-weight: 500;
    margin-right: auto;
}
.eyeIcon{
    width: 15%;
}
input::-webkit-input-placeholder{
    color: #3333338e;
}
.CheckBox{
    padding: 2px;
    width: 40px;
    height: 40px;
    border:4px solid gray;
    display: flex;
    justify-content: center;
    align-items: center;
}
.checked,.NotChecked{
    width: 100%;
}
.NotChecked{
    opacity: 0;
}
.checked{
    opacity: 1;
}
.StateSelect{
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    border:none;
    outline:none;
    color: #000;
    height: 100%;
    font-size: 3.5rem;
}
@keyframes slideDown{
    0%{
        height:112.5px;
    }
    /* 25%{
        height: 225px;
    }
    50%{
        height: 337.5px;
    } */
    100%{
        height: 450px;
    }
}
@keyframes slideUp{
    0%{
        height:450px;
    }
    /* 25%{
        height: 225px;
    }
    50%{
        height: 337.5px;
    } */
    100%{
        height: 0px;
    }
}
.selectInput{
    position: relative;
}
.AllState{
    position: absolute;
    width: 100%;
    left: 0;
    top: 100%;
    height: 450px;
    overflow-y: scroll;
    background-color: #333;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    padding: 15px;
    /* animation: slideDown 500ms ease; */
    /* transition: all 0.5s ease; */
    
    /* position: absolute;
    top: 0;
    left: 0; */
}
.stateUp{
    animation: slideUp 500ms ease;

}
.StateSelectHide{
    color: #3333338e;
}
.AllState::-webkit-scrollbar{
    display: none;
}
.AllState input{
    background-color: transparent;
    border:none;
    font-size: 2rem;
    border-bottom: .5px solid #fff;
    padding: 10px;
    outline:none;
    color: #fff;
}
.input{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.input input{
    width: 100%;
}


.info{
    width: 15%;
    display: flex;
    align-items: center;
    margin: auto;
}
.info img{
    width: 100%;
    cursor: pointer;
}

/* .passwordInput{
    width: 100%;
    height: 100%;
    border:none;
    outline:none;
    font-family: "Poppins";
    width: 100%;
    font-size: 3rem;
    background-color: #fff;
    padding: 1.13rem 2.26rem;
    text-align: left;
    border-radius: 1.13rem;
    margin: 1.13rem 0;
} */
.popup{
    width: 25%;
    padding: 50px;
    border-radius: 15px;
    border:7.5px solid #949393;
    position: relative;
    background-color: #3b82f6;
    position: absolute;
    top: 50%;
    z-index: 999;
    left: 50%;
    transform: translate(-50%,-50%);
}
.content{
    margin: 10% 0;
}
.content ul{
    display: flex;
    flex-direction: column;
    list-style: circle;
    font-size: 2rem;
}
.content ul li{
    margin: 7px 0px;
    color: #fff;

}
.action{
    /* margin: auto; */
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.action button{
    margin: auto;
    width: 75%;
    border-radius: 30px;
    background-color: transparent;
    border:1px solid #fff;
    color: #fff;
    outline:none;
    padding:10px 0;

}
.image{
    width: 50%;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%,-50%);
}
.image img{
    width: 100%;
}
.StateSelectCenter{
    text-align: center;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    border:none;
    outline:none;
    color: #3333333d;
    height: 100%;
    font-size: 3.5rem;
}
.StateSelectCenter::-webkit-input-placeholder{
    color: #3333338e !important;
}
@media(max-width:767px){
    .Container{
        padding: 1.70rem;
        justify-content: center;
    }
    .Register{
        /* width: 90%; */
        flex-direction: column;
    }
    .input::-webkit-input-placeholder{
        font-size: 1.70rem;
        color: gray;
    }
    .Title{
        font-size: 2.5rem;
    }
    .input,.password{
        font-size: 1.70rem;
        font-weight: 500;
        padding: .56rem 1.13rem;
        height: 5.11rem;
    }
    .Terms input[type="checkbox"] {
        width: 2.26rem;
        height: 2.26rem;
    }
    .Terms p{
        font-size: 1.36rem;
    }
    .btnDisabled,.formBtn{
        font-size: 2.0rem;
        font-weight: 500;
        height: 5.11rem;
    }
    .DataInput{
        font-size: 1.7rem;
        height: 5.11rem;
    }
}
@media(max-height:630px){
    .Container{
        height: 100%;
        padding:5.68rem;
    }

}
@media(min-height:630px){
    .Container{
        /* height: 100vh; */
    }
    
}
@media(min-width:767px) and (max-width:1056px){
    .Container{
        width: 100%;
        padding: 1.70rem;
        justify-content: center;
    }
    .Register{
        width: 60%;
    }
    
}
@media(max-width:350px){
    .Register{
        width: 100%;
    }
}
.DataInput{
    color: #000;
    text-align: left;
    position: relative;
}
.hideDate{
    width: 100%;
    font-family: "Poppins";
    height: 7.5rem;
    padding: 1.13rem;
    font-size: 3.5rem;
    text-transform: uppercase;
    margin: 1.13rem;
    margin-left: 0;
    border-radius: 1.13rem;
    margin-right: auto;
    border:0.3rem solid gray;
    text-align: center;
    color: #3333;
    position: relative;
}
.DataInput::-webkit-calendar-picker-indicator{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 0;
    opacity: 0;

}
.hideDate::-webkit-calendar-picker-indicator{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 0;
    opacity: 0;
}
@media(max-width:1065px){
    .Container{
        background:#FAE863;
        padding: 50px 25px;
    }
    .form{
        -webkit-box-shadow: 0px 0px 19px -8px rgba(0,0,0,1);
-moz-box-shadow: 0px 0px 19px -8px rgba(0,0,0,1);
box-shadow: 0px 0px 19px -8px rgba(0,0,0,1);
    }
    .hideDate,.input,.password,.DataInput{
        height: 6.11rem;
        font-size: 2.7rem;
        font-weight: normal;
    }
    .hideDate,.input input,.password input,.DataInput{
        /* height: 6.11rem; */
        font-size: 2.7rem;
    }
    /* .DataInput{

    } */
    .hideDate::-webkit-input-placeholder,.DataInput::-webkit-input-placeholder{
        opacity: 1;
        color: #33333d7c;
    }
    .forgotInput input::-webkit-input-placeholder{
        color: #33333d7c;
        font-size: 2.75rem;
        text-align: center;
        text-transform: uppercase;
    }
    .passwordInput::-webkit-input-placeholder{
        font-size: 2.7rem;
    } 
    .input::-webkit-input-placeholder{
        text-align: center;
        font-size: 2.7rem;
        opacity: 1;
        text-transform: uppercase;
       
    }
    .EmailInput label,.PasswordInput label{
        font-size: 1.5rem;
    }
    .Terms p a{
        font-size: 1.36rem;
        text-decoration: underline;
    }
    .CheckBox{
        width: 25px;
        height: 25px;
        border: 3px solid gray;
    }
    .AgeRestrict{
        margin-bottom: 0;
    }
    .Popup{
        z-index: 99;
        width: 80%;
    }
    .AgeRestrict{
        font-size: 1.5rem;
    }
    label{
        font-size: 1.5rem;
    }
}
@media(max-width:765px){
    .popup{
        width: 85%;
    }
}