.Container {
    width: 100%;
    height: 400px;
    background-color: #2D2D2D;
    /* padding:50px 50px */

}

.Footer {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.Logo {
    /* width: 45%; */
    /* padding: 30px; */
    height: 100%;
}

.Logo img {
    /* width: 100%; */
    height: 100%;
}

.Address,
.Menu {
    width: 30%;
    height: 100%;
}

.Menu {
    width: 35%;
}

.Title {
    font-size: 4rem;
    font-weight: 700;
    color: #fff;
}

.Menu ul {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    list-style: none;

}

.Menu ul li {
    font-size: 2.5rem;
    color: #fff;
    width: fit-content;
    transition: all 0.2s ease-in-out;
    border-bottom: 1.5px solid transparent;

    /* text-decoration: underline; */
}

.Menu ul li:hover {
    border-bottom: 1.5px solid #1b8fe7;
    /* transform: scale(1.1); */

}

.Address {
    height: 100%;
    display: flex;
    width: 45%;
    flex-direction: column;
    justify-content: space-between;
}

.FooterDetails {
    width: 50%;
    height: 100%;
    justify-content: flex-end;
    display: flex;
    padding: 50px;

    flex-direction: row;
}

.SocialMedia img {
    width: 15%;
    object-fit: contain;
}

@media(min-wdith:1065px) {
    .FooterDetails {
        justify-content: space-evenly;
    }

    .Menu,
    .Address {
        width: 100%;
    }
}

.Copyright p,
.TermsAndPrivacy p {
    font-size: 1.5rem;
    /* margin-top: 0.75rem; */
    color: #fff;
}

.SocialMedia {
    width: 75%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.SocialMedia svg {
    font-size: 5rem;
    color: #fff;
    cursor: pointer;
}

.Copyright,
.TermsAndPrivacy {
    display: flex;
    flex-direction: column;
}

/* .TermsAndPrivacy{
    margin-top: 3rem;
} */
@media (max-width:1064px) {

    /* .Container{
        padding: 25px;
    }
    .Menu,.Address{
        width: 50%;
    }
    .FooterDetails{
        width: 50%;
    } */
    /* .Logo{
        width: 50%;
    } */
    .FooterDetails {
        width: 100%;
        padding: 50px;
    }

    .Container {
        height: 100%;
        padding: 10rem 5rem;
    }

    .Footer {
        flex-direction: column-reverse;
    }

    .Logo,
    .Menu,
    .Address {
        width: 100%;
        padding: 0;
    }

    .Logo img {
        width: 100%;
    }

    .Title {
        font-size: 3.5rem;
    }

    .Menu ul li {
        font-size: 2.5rem;
        padding: 15px 0;
    }

    .SocialMedia {
        width: 100%;
        margin: 25px 0;
    }

    .SocialMedia svg {
        font-size: 3.5rem;
    }

    .Copyright {
        margin: 15px 0;
    }

    .bandaiLogo {
        display: none;
    }
}



.bandaiLogo {
    width: 40%;
}

.bandaiLogo img {
    width: 100%;
}

.TermsAndPrivacy {
    flex-direction: row;
    justify-content: space-between;
}

.TermsAndPrivacyText {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
}

.TermsAndPrivacyText a {
    color: #fff;
    font-size: 1.25rem;
    text-decoration: underline;
}

.MFooter {
    display: none;
}

@media(max-width:1065px) {
    .Container {
        /* padding-top: 10px; */
    }

    .Footer {
        display: none;
    }

    .MFooter {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 20px;

    }

    .MFooter .Address {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }

    .SocialMedia {
        width: 75%;
    }

    .SocialMedia img {
        width: 15%;
    }

    .Copyright,
    .TermsAndPrivacyText {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .TermsAndPrivacy {
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }

    .TermsAndPrivacyText a {
        text-decoration: underline;
        font-size: 2rem;
        margin: 3px 0;
    }

    .MbandaiLogo {
        margin: 30px;
        width: 50%;
    }

    .MbandaiLogo img {
        width: 100%;
    }
    .Copyright p{
        font-size: 2rem;
    }
}
@media(max-width:767px) {
    .FooterDetails {
        width: 100%;
        padding: 0;
    }

    .Container {
        height: 100%;
        padding: 6rem 0;
        
    }

    .Footer {
        flex-direction: column-reverse;
    }

    .Logo,
    .Menu,
    .Address {
        width: 100%;
        padding: 0;
    }

    .Logo img {
        width: 100%;
    }

    .Title {
        font-size: 2.5rem;
    }

    .Menu ul li {
        font-size: 1.75rem;
        padding: 15px 0;
    }

    .SocialMedia {
        width: 100%;
        margin: 25px 0;
    }

    .SocialMedia svg {
        font-size: 3rem;
    }

    .Copyright {
        margin: 15px 0;
    }

    .bandaiLogo {
        display: none;
    }
    .SocialMedia{
        width: 75%;
    }
}
@media(max-width:599px){
    .Copyright p{
        font-size: 1.7rem;
       /* white-space: nowrap; */
    } 
    .TermsAndPrivacyText a{
        font-size: 1.7rem;
    }
    .Container{
        padding:2rem 0;
    }
} 