*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App{
  /* position: relative; */
  overflow: hidden;
}
a{
  text-decoration: none;
  color: #000;
  cursor: pointer;
}
li{
  cursor: pointer;
}
.OT_publisher, .OT_subscriber{
  position: static !important;
  width: 100% !important;
  height: auto !important;
  overflow: hidden;
}
.OT_publisher .OT_video-element, .OT_subscriber .OT_video-element {
  display: block;
  /* position: absolute; */
  border-radius: 50px;
  width: 100%;
  height: 100%;
  transform-origin: 0 0;
  border: 6px solid #fff;
  transform: translateZ(0)
}

.OT_publisher .OT_video-element, .OT_subscriber .OT_video-element {
  display: block;
  /* position: absolute; */
  /* width: 100%; */
  /* height: 100%; */
  transform-origin: 0 0;
}

.OT_publisher .OT_video-element, .OT_subscriber .OT_video-element {
  display: block;
  /* position: absolute; */
  border-radius: 50px;
  /* width: 100%; */
  /* height: 100%; */
  transform-origin: 0 0;
  border: 6px solid #fff;
  transform: translateZ(0);
}

@media(max-width:767px){
  .OT_publisher .OT_video-element, .OT_subscriber .OT_video-element {
    border-radius: 25px ;
  }
}
/* @media(min-width:1065px){
  .App{
    background-color: #2d2d2d;
    overflow: scroll;
  }
} */