@import-normalize;
@font-face {
  font-family: drumshake_italic;
  src: url('./Fonts/drumshake_italic.otf');
}
html{
  font-size:55%;
  scroll-behavior: smooth;
}
@media(max-width:1065px){
  /* html{
    font-size: 50%;
  } */
}
body {
  margin: 0;
  font-family: "Poppins";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #ebebeb;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.OT_audio-blocked-indicator.OT_active{
  /* height: 100% !important; */
  display: none !important;
}
.OT_subscriber:hover .OT_edge-bar-item.OT_mode-auto{
  display: none;
}
.css-13cymwt-control{
  border:none !important;
  outline:none !important;
}
.css-qbdosj-Input input{
  text-align: center !important;
}