@import-normalize;
@font-face {
  font-family: drumshake_italic;
  src: url('./Fonts/drumshake_italic.otf');
}
@font-face {
  font-family: myraidproregular;
  src: url('./Fonts/myraidproregular.OTF');
}
html{
  font-size:55%;
  scroll-behavior: smooth;
  background-color:#2D2D2D;
}
@media(max-width:1065px){
  /* html{
    font-size: 50%;
  } */
}
body {
  margin: 0;
  font-family: "Poppins";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #ebebeb;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.OT_audio-blocked-indicator.OT_active{
  /* height: 100% !important; */
  display: none !important;
}
.OT_subscriber:hover .OT_edge-bar-item.OT_mode-auto{
  display: none;
}
.css-13cymwt-control{
  border:none !important;
  outline:none !important;
}
.css-qbdosj-Input input{
  text-align: center !important;
}
.OT_widget-container {
  position: relative !important;
  background-color: none !important;
  overflow: visible !important;
}
.OT_publisher .OT_video-element, .OT_subscriber .OT_video-element{
  position: relative !important;
}
::-webkit-scrollbar{
  /* -webkit-appearance: none; */
  /* background-color:transparent; */
  width: 10px;
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
border-radius: 5px;
}
::-webkit-scrollbar-thumb {
  background: #1b8fe7; 
  border-radius: 10px;
}